# P3 - Group 2

### Load datasets

In [9]:
import pandas as pd

In [23]:
meter_a_df = pd.read_csv("./dataset/Meter A", sep="\t", header=None)
meter_a_df.info()
meter_a_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 37 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       87 non-null     float64
 1   1       87 non-null     float64
 2   2       87 non-null     float64
 3   3       87 non-null     float64
 4   4       87 non-null     float64
 5   5       87 non-null     float64
 6   6       87 non-null     float64
 7   7       87 non-null     float64
 8   8       87 non-null     float64
 9   9       87 non-null     float64
 10  10      87 non-null     float64
 11  11      87 non-null     float64
 12  12      87 non-null     float64
 13  13      87 non-null     float64
 14  14      87 non-null     float64
 15  15      87 non-null     float64
 16  16      87 non-null     float64
 17  17      87 non-null     float64
 18  18      87 non-null     float64
 19  19      87 non-null     float64
 20  20      87 non-null     float64
 21  21      87 non-null     float64
 22  22      87 non-null     float64
 23  23      87 non-null     float64
 24  24      87 non-null     float64
 25  25      87 non-null     float64
 26  26      87 non-null     float64
 27  27      87 non-null     float64
 28  28      87 non-null     float64
 29  29      87 non-null     float64
 30  30      87 non-null     float64
 31  31      87 non-null     float64
 32  32      87 non-null     float64
 33  33      87 non-null     float64
 34  34      87 non-null     float64
 35  35      87 non-null     float64
 36  36      87 non-null     int64
dtypes: float64(36), int64(1)
memory usage: 25.3 KB

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,36
0,0.841499,1.009367,0.993816,8.469805,10.278727,10.037759,8.501365,8.581726,10.247763,10.058822,...,32.451173,34.568685,33.082683,36.722005,36.969403,36.075847,36.051432,35.174155,32.729490,1
1,0.842250,1.006584,0.996605,7.531891,9.139924,8.951618,7.612213,7.623325,9.106345,8.945142,...,32.428385,34.441732,33.081055,36.687825,36.933595,36.054688,35.979818,34.847005,32.731122,1
2,0.840723,1.011647,0.998152,6.641699,7.975464,7.857692,6.593117,6.681572,7.964596,7.814698,...,32.428385,34.275715,33.113605,36.661785,36.873370,36.002605,35.963542,34.689128,32.771810,1
3,0.841119,1.017807,0.996812,5.687524,6.824334,6.689885,5.615428,5.763315,6.801051,6.686639,...,32.485350,34.080403,33.170573,36.673177,36.811525,35.974935,35.955403,34.500328,32.849935,1
4,0.840358,1.016534,0.996221,5.660385,6.829560,6.675628,5.623977,5.736818,6.813453,6.672377,...,32.503255,34.122720,33.164062,36.673177,36.826173,35.996095,35.968425,34.474283,32.853190,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,0.792929,1.006295,0.999666,2.696691,3.414048,3.389731,2.699618,2.715628,3.414042,3.393569,...,32.555338,33.767905,33.300782,36.640627,36.691080,35.849610,35.834960,33.823245,33.012697,2
83,0.792309,1.004472,0.999873,2.679006,3.433638,3.386612,2.714345,2.699840,3.429142,3.380373,...,32.545573,33.769532,33.294272,36.634115,36.692707,35.859377,35.844727,33.819987,33.022460,2
84,0.793471,1.009560,1.001110,2.691553,3.431745,3.364790,2.717383,2.700560,3.432876,3.374046,...,32.561848,33.780925,33.287762,36.635745,36.694335,35.854492,35.831705,33.824870,33.020832,2
85,0.796730,1.010570,0.999029,2.714849,3.412818,3.388927,2.692776,2.738119,3.413739,3.381779,...,32.555338,33.774415,33.302410,36.640627,36.699218,35.859377,35.849610,33.816732,33.011067,2
86,0.790194,1.004195,0.995537,1.781262,2.247824,2.234980,1.785612,1.767456,2.261254,2.239285,...,32.623697,33.709312,33.362632,36.650392,36.679690,35.844725,35.841472,33.668622,33.118488,2

In [24]:
meter_b_df = pd.read_csv("./dataset/Meter B", sep="\t", header=None)
meter_b_df.info()
meter_b_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 52 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       92 non-null     float64
 1   1       92 non-null     float64
 2   2       92 non-null     float64
 3   3       92 non-null     float64
 4   4       92 non-null     float64
 5   5       92 non-null     float64
 6   6       92 non-null     float64
 7   7       92 non-null     float64
 8   8       92 non-null     float64
 9   9       92 non-null     float64
 10  10      92 non-null     float64
 11  11      92 non-null     float64
 12  12      92 non-null     float64
 13  13      92 non-null     float64
 14  14      92 non-null     float64
 15  15      92 non-null     float64
 16  16      92 non-null     float64
 17  17      92 non-null     float64
 18  18      92 non-null     float64
 19  19      92 non-null     float64
 20  20      92 non-null     float64
 21  21      92 non-null     float64
 22  22      92 non-null     float64
 23  23      92 non-null     float64
 24  24      92 non-null     float64
 25  25      92 non-null     float64
 26  26      92 non-null     float64
 27  27      92 non-null     float64
 28  28      92 non-null     float64
 29  29      92 non-null     float64
 30  30      92 non-null     float64
 31  31      92 non-null     float64
 32  32      92 non-null     float64
 33  33      92 non-null     float64
 34  34      92 non-null     float64
 35  35      92 non-null     float64
 36  36      92 non-null     float64
 37  37      92 non-null     float64
 38  38      92 non-null     float64
 39  39      92 non-null     float64
 40  40      92 non-null     float64
 41  41      92 non-null     float64
 42  42      92 non-null     float64
 43  43      92 non-null     float64
 44  44      92 non-null     float64
 45  45      92 non-null     float64
 46  46      92 non-null     float64
 47  47      92 non-null     float64
 48  48      92 non-null     float64
 49  49      92 non-null     float64
 50  50      92 non-null     float64
 51  51      92 non-null     int64
dtypes: float64(51), int64(1)
memory usage: 37.5 KB

,0,1,2,3,4,5,6,7,8,9,...,42,43,44,45,46,47,48,49,50,51
0,1.185089,1.028128,1.016478,0.1500,2.195744,2.540944,2.511961,2.087889,2.394439,1483.869833,...,49.800000,84.107067,84.003098,120.338783,120.144244,120.371772,120.179078,84.019053,83.919971,1
1,1.191806,1.033750,1.019411,0.2170,2.192467,2.546594,2.516744,2.075706,2.396089,1483.747389,...,49.800000,84.114116,84.009973,120.349089,120.153889,120.381700,120.188800,84.025607,83.927260,1
2,1.181983,1.028089,1.020994,0.0889,3.246672,3.738378,3.715217,3.079356,3.523517,1483.777056,...,49.800000,84.137487,83.983336,120.392450,120.106206,120.425422,120.140578,84.047809,83.901593,1
3,1.182761,1.028783,1.021072,0.1170,3.244489,3.741861,3.718839,3.080400,3.525933,1483.847444,...,49.800000,84.133493,83.979407,120.387033,120.100444,120.419883,120.134933,84.043715,83.897597,1
4,1.182272,1.028922,1.021350,0.0222,3.245944,3.742217,3.715456,3.080950,3.525128,1483.819056,...,49.800000,84.135354,83.980807,120.389361,120.102800,120.422050,120.137472,84.045346,83.898959,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,2.418111,0.000000,0.000000,0.0000,5.332300,6.662456,6.288444,0.000000,5.922272,1550.598167,...,96.462778,80.552229,80.323852,118.229294,117.738550,118.007206,117.542750,0.000000,0.000000,3
88,3.290425,0.000000,0.000000,0.0000,5.420572,6.653589,6.309761,0.000000,5.924100,1542.063444,...,96.534444,80.101938,79.872679,118.229300,117.738861,118.005594,117.539489,0.000000,0.000000,3
89,2.601044,0.000000,0.000000,0.0000,5.256956,6.672083,6.287644,0.000000,5.916767,1550.688444,...,96.653889,80.544970,80.321946,118.227667,117.736100,118.002017,117.538133,0.000000,0.000000,3
90,2.336800,0.000000,0.000000,0.0000,5.222706,6.669056,6.288772,0.000000,5.895378,1550.800889,...,96.612778,80.538187,80.317351,118.223733,117.732389,117.997167,117.532778,0.000000,0.000000,3
91,-0.909168,0.000000,0.000000,0.0000,4.341200,7.222394,6.796672,0.000000,5.971333,1542.708278,...,95.082778,80.044620,79.863208,118.235406,117.703439,118.006928,117.505489,0.000000,0.000000,3

In [ ]:
meter_d_df = pd.read_csv("./dataset/Meter D", sep="\t", header=None)
meter_d_df.info()
meter_d_df